<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="discente-painel.css">
</head>
<body>
    <div class="sidebar">
        <ul>
        
            <li><a href="#">  <img src="assets/Icone Inicio2.png" alt="Inicio" class="ativar" cl></a></li>
            <li><a href="instituição.html"> <img src="assets/Icone Instituição.png" alt="Instituição"></a></li>
            <li><a href="docente.html"> <img src="assets/Icone Docente.png" alt="Docente"></a></li>
            <li><a href="login-discente.html" id="link-discente"><img src="assets/Icone Discente.png" alt="Discente"></a></li>
            <li><a href="#"><img src="assets/Icone Sobre.png" alt="Sobre"></a></li>
            <li><a href="#"><img src="assets/Icone Contato.png" alt="Contato"></a></li>
        </ul>
    </div>

    <nav class="toposidebar">
        <ul>
            <li><a href="#">Minhas Matrículas</a></li>
            <li><a href="#">Dados cadastrais</a></li>
            <li><a href="#">Suporte TI</a></li>
        </ul>
        <img src="assets/Logo .png" alt="Logo e-Matrícula" class="logo-topo">
    </nav>
    
    <div class="conteudo-principal">
        <div class="cards">
            <div class="card">
                <h2>Grade Horária</h2>
                <img src="" alt="Grade Horária">
                <p>Veja como está sua Grade Horária!</p>
            </div>
            <div class="card">
                <h2>Matérias obrigatórias</h2>
                <img src="" alt="Matérias Obrigatórias">
                <p>Consulte a disponibilidade de dias, horários e professores das Matérias Obrigatórias</p>
            </div>
            <div class="card">
                <h2>Itinerários Formativos</h2>
                <img src="" alt="Itinerários Formativos">
                <p>Consulte a disponibilidade de dias, horários e professores dos Itinerários Formativos</p>
            </div>
        </div>
    </div>
        
    
    
</body>
</html>
