<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="#">  <img src="/static/assets/Icone Inicio2.png" alt="Inicio" class="ativar" cl></a></li>
            <li><a href="{% url 'instituicao' %}"> <img src="/static/assets/Icone Instituição.png" alt="Instituição"></a></li>
            <li><a href="{% url 'docente' %}"> <img src="/static/assets/Icone Docente.png" alt="Docente"></a></li>
            <li><a href="{% url 'login_discente' %}" id="link-discente"><img src="/static/assets/Icone Discente.png" alt="Discente"></a></li>
            <li><a href="#"><img src="/static/assets/Icone Sobre.png" alt="Sobre"></a></li>
            <li><a href="#"><img src="/static/assets/Icone Contato.png" alt="Contato"></a></li>
        </ul>
    </div>
    <div class="conteudo-principal">
        <header>
            <div class="conteiner">
                <img class="logo" src="/static/assets/Logo .png" alt="Logo e-Matrícula">
                <div class="texto">
                    <h1>Bem-vindo(a) ao e-Matrícula</h1>
                    <p>Software para gerenciar matrículas alinhado ao Novo Ensino Médio, facilitando a organização curricular e a escolha de itinerários formativos.</p>
                </div>
            </div>
        </header>
        <div class="buttons">
            <a href="{% url 'instituicao' %}" class="botao">
                <img src="/static/assets/Icone instituição sem texto.png" alt="Instituição">Instituição
            </a>
            <a href="{% url 'docente' %}" class="botao">
                <img src="/static/assets/Icone docente sem texto.png" alt="Docente">Docente
            </a>
            <a href="{% url 'login_discente' %}" class="botao">
                <img src="/static/assets/Icone discente sem texto.png" alt="Discente">Discente
            </a>
        </div>
        <div class="logo-novo-ensino-medio">
            <img src="/static/assets/Logo novo ensino medio.jpeg" alt="logo-novo-ensino-medio">
        </div>
    </div>
</body>
</html>
